/*************GENERAL STYLES*************/

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: Patron-Regular;
    font-weight: 400;
    height: 640px;
}

header{
}

nav img{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;

}