/*GLOBAL STYLES*/

    *{ 
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }

    img{
        max-width: 100%;
    }

    body{
        font-family: Georgia, 'Times New Roman', Times, serif
    }

    main, footer{
        width: 640px;
        padding: 15px;
        margin: 20px auto;
    }

    main {
        background-color: #E8E8E6;
        text-align: center;
    }

    header img{
        margin: 10px 0;
    }

    /*Section Tea*/
    section.teas h1{
        font-size: 3em;
        font-weight: normal;
    }

    section.teas header{
        padding:30px 70px;
    }

    section.tea-types{
        display: flex;
        gap: 15px;
    }

    article.tea{
        height: 650px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        flex: 1;

    }

    article.tea h1{
        font-size: 1.5em;
    }

    article.tea > *{
        flex: 1;
        gap: 50px;
    }

    /*O section.tea-types foi dado um display: flex (mas ainda em row). O flex: 1 dá espaço igual entre tudo. */

    /*Quando o article está em flex, estamos a controlar os seus filhos, e não os seus netos / bisnetos*/

    article.tea a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        margin: 15px;

    
        flex: 0;
    }

    section.promo{
        border-top: 2px solid grey;
        margin-top: 50px;
        padding: 35px 0;
    }

    footer{
        text-align: center;
    }

    footer ul{
        list-style: none;

        display: flex;
        gap: 10px;

        margin-bottom: 50px;
    }

    footer ul li{
        flex: 1;
    }