@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #333;
    } @else {
        @return #fff;
    }
}

@mixin transtion($transition) {
    -webkit-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}
