/*BODY*/

$body-font-color: #333;
$body-bg-color: #eee;
$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$padding-divide: 20px;

/*NEWSLETTER SECTION*/

$general-color: #fff;

/*BTNS*/

$btn-color: #446655;
