/*ALL SECTIONS*/
$alignment: center; // Includes every justify-item, align-self, and align-items

/*BODY*/

$body-font-color: #333;
$body-bg-color: #eee;
$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$padding-margin-divide: 20px;
$padding-margin-large: 50px;

/*NEWSLETTER SECTION*/

$general-color: #fff;

/*BTNS*/

$btn-color: #446655;
