@use 'variables' as *;
@use 'functions' as *;
@use 'btn'as *;
@use 'background'as *;

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    color: set-text-color($general-color);
    background-color: $body-font-color;
    padding: $padding-margin-divide;
    font: {
        family: $font-stack;
        size: 16px;
    }
}

section.newsletter{
    width: 640px;
    background-color: $general-color;
    margin: auto;
    padding: $padding-margin-divide;
}

header {
    height: 300px;
    color: $body-font-color;
    padding: $padding-margin-large 10px;
    text-align: $alignment;
    @extend %header-bg;


    & h1{
        font: {
            size: 2em;
        }
    }

    & a{
       @extend %btn-a;
    }
}

article.textos{
    font-size: .8em;
    border-bottom: 1px solid $body-font-color;
    padding: $padding-margin-divide 0;
    & p{
        margin: 10px 0;
    }
}

article.miniaturas{
    & h2 {
        text: {
            align: $alignment;
            transform: uppercase;
        }
        font: {
            family: monospace;
            size: 1.2em;
        }
        letter-spacing: 0.3em;
        font-weight: normal;
        margin: $padding-margin-divide 0 ;
    }
}

div.imagens{
    display: flex;
    justify-content: space-between;
}

div img {
    padding: 2px;
    border:1px solid $body-font-color;
    opacity: .7;
    @include transition( all 0.3s ease-out); 

    &:hover{
        @include transform(scale(1.2));
        opacity: 1;
        cursor: pointer;
    }
}

footer {
    background-color: $btn-color;
    color: $general-color;
    padding: $padding-margin-large;
    text-align: $alignment;
    margin: 30px 0;
}
